<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.QnaMapper">

	<select id="selectAllQna" resultType="QnaDTO" parameterType="string">
		select username,qna_num,title,to_char(writeday, 'YYYY/MM/dd') writeday,state,group_no
		from qna
		where userid=#{userid}
		order by group_no desc, qna_num asc
	</select>
<select id="selectByNum" parameterType="hashmap" resultType="QnaDTO">
select userid,username,phone1,phone2,phone3,email,title,content,qna_num,writeday,state,group_no
from qna
where qna_num=#{qna_num} and userid=#{userid}
</select>

<update id="qnaUpdate" parameterType="QnaDTO">
update qna set phone1=#{phone1},phone2=#{phone2},phone3=#{phone3}, email=#{email}, title=#{title}, content=#{content}
 where userid=#{userid} and qna_num=#{qna_num}
</update>

<insert id="qnaWrite" parameterType="QnaDTO">
insert into
qna(qna_num, group_no, title,username,content,phone1,phone2,phone3,email,userid,writeday <if test="state !=null">,state</if>)
		values(qna_num_seq.nextval, group_no_seq.nextval, #{title},#{username},#{content},#{phone1},#{phone2},#{phone3},#{email},#{userid},sysdate<if test="state !=null">,#{state}</if>)
</insert>
<insert id="qnaReplyWrite" parameterType="QnaDTO">
insert into
qna(qna_num, group_no, title,username,content,phone1,phone2,phone3,email,userid,writeday)
		values(qna_num_seq.nextval, #{group_no}, #{title},#{username},#{content},#{phone1},#{phone2},#{phone3},#{email},#{userid},sysdate)
</insert>

<delete id="qnaDelete" parameterType="int">
delete from qna
where qna_num=#{qna_num}
</delete>

<update id="stateUpdate" parameterType="int">
update qna set state='답변완료'
where qna_num=#{qna_num}
</update>

	<select id="qnaTotalCount" parameterType="string" resultType="int">
		select count(*)
		from qna
		where userid IN (#{userid}, 'master')
	</select>
</mapper>